<div class="container-sm my-5">
    <h1 class="fw-bold fs-1 text-center">Top 10 Albums</h1>
    <table class="table align-middle">
        <tbody>
            <% @top_albums.each_with_index do |album, i| %>
                <tr>
                    <th scope="row" class="fs-5">#<%= i + 1 %></th>
                    <td><img src="<%= album.cover_small %>" class="img-thumbnail" alt="<%= album.title %> small album cover"></td>
                    <td><%= link_to album.title, album_path(album.id), class: "fs-5 fw-semibold" %></td>
                    <td>by <%= link_to album.artist["name"], artist_path(album.artist["id"]) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
